@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i&display=swap');

.carousel {
  background-color: #a60000;
  margin: auto;
  width: 100%;
}

/* Hide the images by default */
.slide {
  text-align: center;
  display: none;
}

.slide > img { 
  width: 100vw;
}

/* TODO */
/* Next and prev arrow buttons */
.prev, .next {
  /* Interactivity */
  cursor: pointer;
  user-select: none;
  /* Position */
  position: relative;
  /* Size and shape */
  padding: 2vw;
  border-radius: 0 2vw 2vw 0;
  /* Appearance */
  font-weight: bold;
  font-size: 8vw;
  color: #ffffff;
  transition: 0.4s ease;
}

/* Position the 'next' arrow on the right */
.next {
  right: 0;
  border-radius: 2vw 0 0 2vw;
}

/* On hover add a black tint */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* TODO */
/* Slide title text */
.slide_title {
  color: #ffffff;
  font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
  font-size: 5vw;
  text-align: center;
}

/* TODO */
/* Slide description text */
.slide_text {
  color: #ffffff;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 3vw;
  text-align: center;
}

/* The dots */
.dots {
  padding-bottom: 10;
}

.dot {
  cursor: pointer;
  height: 3vw;
  width: 3vw;
  margin: 1vw 2vw;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

/* Darker colour when active or on hover */
.active, .dot:hover {
  background-color: #cccccc;
}