.carousel {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* TODO */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -12vw;
  padding: 3vw;
  color: #2af3fa;
  font-weight: bold;
  font-size: 10vw;
  transition: 0.6s ease;
  border-radius: 0 2vw 2vw 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 2vw 0 0 2vw;
}

/* On hover add a black tint */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* TODO */
/* Slide title text */
.slide_title {
  color: #75056c;
  font-size: 5vw;
  position: absolute;
  bottom: 8vw;
  width: 100%;
  text-align: center;
}

/* TODO */
/* Slide description text */
.slide_text {
  color: #3e0dc3;
  font-size: 2vw;
  position: absolute;
  bottom: 9vw;
  width: 100%;
  text-align: center;
}

/* The dots */
.dot {
  cursor: pointer;
  height: 3vw;
  width: 3vw;
  margin: 1vw 2vw;
  background-color: #a7a7a7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

/* Darker colour when active or on hover */
.active, .dot:hover {
  background-color: #5d5d5d;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}