@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i&display=swap');

/* Remove border around body */
body {
  margin: 0px;
  padding: 0px;
}

.carousel {
  background-color: #a60000;
}

/* Hide the images by default */
.slide {
  display: none;
  text-align: center;
}

.slide > img { 
  width: 100vw;
  margin: 0vw;
  max-width: 800px;
  vertical-align: bottom;
}

/* Next and prev arrow buttons */
.prev, .next {
  /* Interactivity */
  cursor: pointer;
  user-select: none;
  /* Position */
  position: absolute;
  top: 40vw; /* TODO Maybe use calc()? */
  /* Size and shape */
  padding: 2vw;
  border-radius: 0 2vw 2vw 0;
  /* Appearance */
  font-weight: bold;
  font-size: 8vw;
  color: #ffffff;
  transition: 0.4s ease;
}

/* Position the 'next' arrow on the right */
.next {
  right: 0;
  border-radius: 2vw 0 0 2vw;
}

/* On hover add a black tint */
/* TODO Hover doesn't work on mobile and it might cause issues. */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Slide title text */
.slide_title {
  color: #ffffff;
  font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif; /* TODO Font needs to be worked out */
  font-size: 6vw;
  text-align: center;
  margin: 2vw;
}

/* Slide description text */
.slide_text {
  color: #ffffff;
  font-family: 'IM Fell Great Primer', serif; /* TODO Font needs to be worked out */
  font-size: 3vw;
  text-align: center;
  margin: 2vw;
}

/* Horizontal line */
hr {
  margin: 0;
  color: #ffffff;
}

/* The bars */
.bar {
  cursor: pointer;
  height: 1vw;
  width: 5vw;
  margin: 2vw 1vw;
  background-color: #cccccc;
  display: inline-block;
  vertical-align: bottom;
  transition: background-color 0.5s ease;
}

/* Darker colour when active or on hover */
.active, .bar:hover {
  background-color: #ffffff;
}