@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

/* This is the default style that will be used, in-case there are no media queries this is the default style*/
/* I like to start with the mobile viewport first as my base and then just expand on that code using queries etc.*/
.nav-desk{
    display: block;
}

.nav-desk > ul{
    display: none;
    margin: auto;
    width: 100vw;
    list-style-type: none;
    text-align: center;
    position: fixed;
    background-color: #a60000;
    padding: 3%;
    z-index: 1;
    padding-inline-start: 0;
}

.nav-desk li {
    padding: 3vw;
    /*margin-bottom: 4%;*/
    text-decoration: none;
    color: white;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
    font-size: 4.5vw;
    z-index: 1;
}

.nav-desk li:last-child{
    margin-bottom: 0;
}

.nav-desk li:hover {
    background-color: #bd0303f8;
    color: #ffffff;
    cursor: pointer;
    /*transform: scale(1.1);*/
    /*margin: auto;*/
    box-shadow: 2px 0px 2px 0px #ffffff;
}

.nav-phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-phone > .left{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    z-index: 4;
    list-style-type: none;
}

.nav-phone > .right{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    z-index: 4;
    list-style-type: none;
}

#language{
    background-color:#e0e0e0;
    padding: 1.5vw;
}

.nav-phone .logo > img{
    width: 9.5vw;
    height: 9.5vw;
    margin: auto;
}

.nav-phone .logo {
    /*padding: 0.5vw;*/
    padding-inline-start: 1px;
}

.nav-phone .title > img{
    width: 50vw;
    margin: auto;
    margin-top: 2vw;
    margin-inline-start: 3vw;
}

.nav-desk .title{
    padding: 4vw;
}

#nav-btn{
    background-color:#a60000;
    padding: 1.5vw;
}

#search{
    background-color:#cccccc;
    padding: 1.5vw;
}

#search:hover{
    background-color:#e9e9e9;
    cursor: pointer;
}

.content{
    z-index: 0;
    padding: 1em;
    text-align: center;
}

.nav-phone > img{
    width: 7vw;
    height: 7vw;
}

.blur {
    filter: blur(1px);
}

body{
    padding: 0;
    margin: 0;
}

.active-nav-btn{
    background-color: #cccccc !important;
}

/* This is a query that tells the browser what style to use in case its width is > or = to 740px */
/* AKA this is the Desktop Style */
/*@media screen and (min-width: 740px) {
    .nav-desk > ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        left: 0;
        margin-top: 0.5%;
        padding: 0;
        border-bottom: 1px solid black;
        position: relative;
        background-color: inherit;
        width: 99%;
    }

    #language:hover{
    background-color: #e7e7e7;
    cursor: pointer;
    }

    .nav-desk li:hover{
        background-color: rgba(240, 240, 240, 0.89);
        color: #4e4e4e;
        cursor: pointer;
    }

    .nav-desk li {
        margin-bottom: 0 !important;
        color: black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        width: 13%;
        padding: 14px;
        font-size: 22px;
    }

    li:last-child{
        border-right: none !important;
    }

    .nav-desk {
        display: block;
    }

    .nav-phone{
        display: none;
    }
}*/

