<!-- Each of these li (list item) elements represents a button in our menu -->
<li onclick="location.href='{fill_parents_html}en/index.html'" class="nav-elem">
    <div class="nav-elem-text">Main Page</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">About Us</div>
</li>
<li onclick="location.href='https://galileoschool.edupage.org/znamky/'" class="nav-elem">
    <div class="nav-elem-text">Edupage</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">Admissions</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">Contacts</div>
</li>