/* Default viewport is for phones */

#carousel {
    margin-bottom: 3px;
}

/* Separator on top for large screens */
#nav-carousel-separator {
    display: none;
    height: 52px;
}

/* Minimum height for carousel */
.carousel-item > img {
    overflow: hidden;
    min-height: 150px;
    min-width: 250px;
}

/* Extra bit under the image for text */
.carousel-caption {
    background-color: #a60000;
    text-align: center;
    position: relative;
    bottom: 0;
    left: auto;
    right: auto;
    margin: 0;
    padding: 0;
    height: 20vw;
    width: 100%;
    display: block;
}

/* Slide description text */
.slide-text {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif; /* TODO Font needs to be worked out */
    font-style: italic;
    text-align: center;
    padding: 2vw;
    font-size: 5vw;
}

/* Left arrow */
.carousel-control-prev {
    width: 25vw;
    height: 75%;
    min-height: 150px;
}

.carousel-control-prev-icon {
    width: 7vw;
    height: 7vw;
}

/* Right arrow */
.carousel-control-next {
    width: 25vw;
    height: 75%;
    min-height: 150px;
}

.carousel-control-next-icon {
    width: 7vw;
    height: 7vw;
}

/* Bar indicators on the bottom */
.carousel-indicators {
    bottom: 1vw;
    z-index: 1;
}

.carousel-indicators > li {
    width: 10vw;
    height: 1vw;
    z-index: 1;
}

/* Tablet size */
@media screen and (min-width: 670px) {

    #carousel {
        margin-bottom: 0;
    }

    /* Separator appears on larger screens */
    #nav-carousel-separator {
        display: block;
    }

    /* Minimum height for carousel */
    .carousel-item > img {
        overflow: hidden;
        min-height: 210px;
        min-width: 840px;
        width: 100%;
    }

    /* Caption disappears on larger screens */
    .carousel-caption {
        padding: 1%;
        display: block;
        position: absolute;
        background-color: rgba(196,0,0, .75);
        border-radius: 0 .3vw .3vw 0;
        bottom: 1.5vw;
        width: auto;
        height: auto;
    }

    /* Bar indicators on the bottom */
    .carousel-indicators {
        bottom: 1vw;
    }
    
    .carousel-indicators > li {
        width: 3vw;
        height: 0.4vw;
    }

    /* Left arrow */
    .carousel-control-prev {
        width: 10vw;
        height: 100%;
        min-height: 210px;
    }

    .carousel-control-prev-icon {
        width: 3vw;
        height: 3vw;
    }

    /* Right arrow */
    .carousel-control-next {
        width: 10vw;
        height: 100%;
        min-height: 210px;
    }

    .carousel-control-next-icon {
        width: 3vw;
        height: 3vw;
    }

    /* Slide description text */
    .slide-text {
        margin: 0;
        padding: 0;
        font-size: 2.5vw;
        text-transform: capitalize;
        height: auto;
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {
    
    .slide-text {
        font-size: 24px;
    }
}