.fill-area {
    width: 100%;
    height: 100%;
}

.wine-red {
    background-color: #a60000;
    color: white;
}

.square-corners{
    border-radius: 0;
}

.card.index > .card-footer{
    padding: 0;
}

.card.index {
    border-radius: 0;
    border: none;
    background-color: #a60000;
    color: white;
    margin-left: 3px !important;
    margin-right: 0 !important;
    margin-bottom: 3px !important;
    transition: linear .15s;
}

.card.index > .card-body{
    font-style: italic;
    color: #dddddd;
    font-size: calc(670px*0.0385);
}

hr {
    margin: 0;
    background-color: white;
    color: white;
    border: 1px solid white;
}

.card.index > .card-title {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    font-size: 1.75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card-deck.index {
    margin-top: 3px !important;
    width: 100% !important;
    margin: auto;
}

.card.index:first-child {
    margin-left: 0 !important;
}

/* Mobile viewport */
@media screen and (max-width: 669px){
    .card.index {
        margin-left: 0 !important;
    }

    .card.index > .card-title {
        font-size: 6vw !important;
    }

    .card.index > .card-body {
        font-size: calc(670px*0.0295) !important;
    }

    .card-deck.index {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 720px) {
    .card.index:hover {
        cursor: pointer;
        z-index: 4;
        transform: scale(1.035);
        -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
        transition: ease .15s;
    }

    .card.index:active {
        transform: scale(.985);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transition: ease .15s;
    }
}

@media screen and (max-width: 1199px) {
    .card.index > .card-title {
        font-size: 1.25rem;
    }

    .card.index > .card-body {
        font-size: calc(670px*0.03);
    }
}