.fixed {
    position: fixed;
}

.top {
    top: 0;
}

.content.interview {
    margin-top: 15px;
}

.card.interview {
    background-color: rgba(166, 0, 0, 0.9);
    color: #ffffff;
    user-select: none;
    -webkit-user-drag: none;
    transition: .55s ease;
}

.card.interview.opened {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(166,0,0,1);
    transition: .75s ease;
}

.card.interview > .card-body > ul {
    padding: 10px;
    margin: auto;
    list-style: none;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card.interview > .card-body > .card-text {
    margin-bottom: 10px;
}

.card.interview > .card-body > h2 {
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    letter-spacing: 2.5;
}

.card.interview > .card-body > ul > li {
    padding: 5px;
    flex-grow: 2;
    flex-shrink: 1;
}

.card.interview > .card-body > ul > li > img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.card-deck.interview {
    flex-direction: column;
}

.card.interview > .card-title {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    border-bottom: 1.5px solid white;
    line-height: 2;
    margin-bottom: 0 !important;
}

.card.interview > .card-body {
    padding-top: .55rem;
    user-select: text;
}

.card.interview > .card-body > h5 {
    line-height: 1.5;
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    padding: 6px 8px;
    font-style: normal;
}

.card.interview > .card-body {
    font-family: 'Times New Roman', Times, serif;
}

#interviews-heading {
    display: none;
}

#modal-close {
    right: 2%;
    z-index: 7;
    top: 15px;
    padding: 7px;
    user-select: none;
    border-radius: 50%;
    transition: .55s ease;
}

#modal-close:active {
    background-color: rgba(215, 12, 18, 0.65);
    transform: scale(0.68);
    transition: .15s ease;
}

#modal-close > img {
    width: 38px;
    height: auto;
}

@media screen and (min-width: 670px) {

    body::-webkit-scrollbar {
        width: 0;
    }

    body {
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    .card.interview {
        border-radius: 0;
    }

    .vertical {
        flex-direction: column;
    }

    .fixed {
        position: fixed;
    }

    .top {
        top: 0;
    }

    .rigth {
        right: 0;
    }

    #modal-box::-webkit-scrollbar {
        width: 0;
    }

    #modal-box {
        display: block;
        position: fixed;
        z-index: 6;
        top: 0;
        height: 100vh;
        width: 60vw;
        margin: auto;
        left: 25%;
        right: 60%;
        text-align: center;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(92,92,92,1);
        -moz-box-shadow: 0px 0px 8px 2px rgba(92,92,92,1);
        box-shadow: 0px 0px 8px 2px rgba(92,92,92,1);
        overflow: auto;
        border-radius: 1%;
        transition: .55s ease;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    #modal-box > .card-body > div.card-text {
        background-color: rgb(194, 40, 40);
        border-radius: 1%;
        padding: 10px;
    }

    #modal-box > .card-body > div.card-text > p {
        font-size: larger;
    }

    #modal-box > .card-body > h2 {
        line-height: 2;
        font-style: italic;
    }

    #modal-box > .card-body > h5 {
        font-size: 3vw;
        line-height: 2;
    }

    #modal-box > .card-title {
        font-size: 3.5vw;
        line-height: 2.5;
    }

    #modal-box > img {
        margin-top: 10px;
        max-width: 400px;
        max-height: 400px;
    }

    #modal-box > h4 {
        border-bottom: none;
    }

    #interviews-heading {
        display: block;
        font-size: 1.2rem;
        padding: 12px;
        font-style: italic;
        color: rgba(209, 57, 57, 0.925);
        text-transform: capitalize;
    }

    nav#modal-navigation {
        z-index: 5;
        height: 100vh;
        top: 0;
        background-color: rgba(166, 0, 0, 0.9);
        width: 20vw;
        user-select: none;
    }

    nav#modal-navigation > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 0;
        color: #ffffff;
        font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    }

    nav#modal-navigation > ul > li {
        margin-bottom: 4px;
        margin-top: 4px;
        font-size: 105%;
        padding: 3px 1px;
        text-align: center;
    }

    nav#modal-navigation > ul > li > div {
        padding: 8px 6px;
    }

    #modal-background {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(185, 104, 104, 0.95);
        z-index: 4;
        user-select: none;
    }

    nav#modal-navigation > ul > li:hover,  
    nav#modal-navigation > ul > li:active{
        cursor: pointer;
        transform: scale(1.15);
        background-color: #ce0303;
        transition: .35s ease;
    }

    nav#modal-navigation > ul > li:active {
        background-color: #eb0101 !important;
    }

    nav#modal-navigation > ul > li.active {
        background-color: #eb0101 !important;
        transform: scale(1.1);
    }

    nav#modal-navigation > ul > li:first-child {
        margin-top: 0;
    }

    nav#modal-navigation > ul > li:last-child {
        margin-bottom: 0;
    }

    #modal-close {
        right: 2%;
        z-index: 5;
        top: 15px;
        padding: 7px;
        /*background-color: rgba(180, 12, 18, 0.95);*/
        user-select: none;
        border-radius: 50%;
        transition: .55s ease;
    }

    #modal-close > img {
        -webkit-user-drag: none;
    }

    #modal-close:hover, #modal-close:active {
        cursor: pointer;
        background-color: rgba(215, 12, 18, 0.85);
        transform: scale(0.88);
        transition: .55s ease;
    }

    #modal-close:hover {
        transform: rotate(90deg);
        transition: .9s ease;
    }

    #modal-close:active {
        background-color: rgba(215, 12, 18, 0.65);
        transform: scale(0.68);
        transition: .55s ease;
    }

    #modal-close > img {
        width: 38px;
        height: auto;
    }

    .card-deck.interview {
        flex-direction: row;
        transform: scale(0.85);
    }

    .card.interview {
        background-color: rgba(166, 0, 0, 0.9);
        color: #ffffff;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-box-shadow: 10px 10px 8px 2px rgba(92,92,92,1);
        -moz-box-shadow: 10px 10px 8px 2px rgba(92,92,92,1);
        box-shadow: 10px 10px 8px 2px rgba(92,92,92,1);
        transition: .55s ease;
    }

    .card.interview:not(#modal-box):hover {
        transform: scale(1.12);
        cursor: pointer;
        -webkit-box-shadow: 5px 5px 8px 2px rgb(37, 37, 37, 0.93);
        -moz-box-shadow: 5px 5px 8px 2px rgb(37, 37, 37, 0.93);
        box-shadow: 5px 5px 8px 2px rgb(37, 37, 37, 0.93);
        transition: .55s ease;
    }

    .card.interview > img {
        user-select: none;
        -webkit-user-drag: none;
    }

    .card.interview > .card-title {
        width: 100%;
        text-transform: uppercase;
        font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
        font-size: 2.2vw;
        font-weight: 400;
        border-bottom: 1.5px solid white;
        line-height: 2;
        margin-bottom: 0 !important;
    }

    .card.interview > .card-body {
        padding-top: .55rem;
        user-select: text;
    }

    .card.interview > .card-body > h5 {
        line-height: 1.5;
        font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
        padding: 6px 8px;
        font-size: 2.2vw;
        font-style: normal;
    }

    .card.interview > .card-body {
        font-size: 2vw;
        font-family: 'Times New Roman', Times, serif;
    }

    .card.interview > .card-body > ul {
        padding: 10px;
        margin: auto;
        list-style: none;
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card.interview > .card-body > ul > li {
        padding: 5px;
        flex-grow: 2;
        flex-shrink: 1;
    }

    .card.interview > .card-body > ul > li > img {
        border-radius: 5px;
        max-width: 400;
        width: 100%;
        height: auto;
    }

}

@media only screen and (min-width: 800px) {

    .card.interview > .card-body > h5 {
        line-height: 2;
    }

    .card.interview > .card-body {
        font-style: italic;
    }

    #interviews-heading {
        font-size: 1.3rem;
    }

    .card.interview:not(#modal-box):hover {
        transform: scale(1.08);
        transition: .55s ease;
    }

}

@media only screen and (min-width: 1024px) {

    .card.interview > .card-body > ul > li > img {
        border-radius: 10px;
        max-width: 250px;
        max-height: 250px;
    }

    .card.interview > .card-title {
        font-size: 1.7rem;
    }

    .card.interview > .card-body > h5 {
        font-size: 1.5rem;
    }

    .card.interview > .card-body {
        font-size: 1.3rem;
    }

    #interviews-heading {
        font-size: 1.5rem;
    }

    .card.interview:not(#modal-box):hover {
        transform: scale(1.06);
        transition: .55s ease;
    }

    #modal-box > .card-body > p {
        font-size: 1.5rem;
    }

    #modal-box > .card-body > h5 {
        font-size: 1.7rem;
    }

    #modal-box > .card-title {
        font-size: 1.9rem;
    }

    #modal-box > .card-body > h2 {
        font-size: 2.5vw;
    }

    #modal-box > .card-body > div.card-text {
        
        border-radius: 2%;
        padding: 20px;
    }
}

@media only screen and (min-width: 1200px) {

    nav#modal-navigation {
        width: 240px;
    }

    #interviews-heading {
        font-size: 1.6rem;
    }

    #modal-box {
        max-height: 100vh;
        max-width: calc(1200px * 0.6);
        left: 35%;
        right: 60%;
    }

    .card.interview:not(#modal-box):hover {
        transform: scale(1.04);
        transition: .55s ease;
    }

} 