<!-- Cards -->
<div class="card-deck">
    <!-- Card 1 -->
    <div class="card">
        <img src="../../images/card_thumbnails/gym.jpg" class="card-img-top" alt="Picture Not Available!">
        <h4 class="card-title">{{card_contents.1-title}}</h4>
        <hr>
        <div class="card-body">
            <p class="card-text">{{card_contents.1-body-text}}</p>
        </div>
        <div class="card-footer hidden">
            <button class="btn fill-area wine-red square-corners" onclick="">{{card_contents.1-footer}}</button>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="card">
        <img src="../../images/card_thumbnails/primary_school.jpg" class="card-img-top" alt="Picture Not Available!">
        <h4 class="card-title">{{card_contents.2-title}}</h4>
        <hr>
        <div class="card-body">
            <p class="card-text">{{card_contents.2-body-text}}</p>
        </div>
        <div class="card-footer hidden">
            <button class="btn fill-area wine-red square-corners" onclick="">{{card_contents.2-footer}}</button>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="card">
        <img src="../../images/card_thumbnails/kindergarten.jpg" class="card-img-top" alt="Picture Not Available!">
        <h4 class="card-title">{{card_contents.3-title}}</h4>
        <hr>
        <div class="card-body">
            <p class="card-text">{{card_contents.3-body-text}}</p>
        </div>
        <div class="card-footer hidden">
            <button class="btn fill-area wine-red square-corners" onclick="">{{card_contents.3-footer}}</button>
        </div>
    </div>
    <!-- Template: -->
    <!-- 
    <div class="card">
        <img src="[LINK TO THUMBNAIL]" class="card-img-top" alt="Picture Not Available!">
        <h4 class="card-title">{{card_contents.N-title}}</h4>
        <hr>
        <div class="card-body">
            <p class="card-text">{{card_contents.N-body-text}}</p>
        </div>
        <div class="card-footer hidden">
            <button class="btn fill-area wine-red square-corners" onclick="">{{card_contents.N-footer}}</button>
        </div>
    </div> 
    -->
</div>