<!-- Header -->
<!-- The header usually contains the logo and a navigation bar -->
<header>
    <!-- Navigation bar -->
    <nav>
        <!-- Navigation for smaller devices -->
        <div id="nav-bar" class="nav-phone">
            <!-- Items which should be on the left -->
            <div class="left">
                <!-- Search button -->
                <div class="nav-phone search-drop dropdown square">
                    <div id="search" class="nav-phone search">
                        <img id="search-img" src="../../images/icons/search.png">
                    </div>
                    <div class="nav-phone search-dropdown-content">
                        <input class="nav-phone search-input" type="text" placeholder="Search.." name="search">
                    </div>
                </div>
                <!-- School logo -->
                <div id="logo-container" class="nav-phone school-logo-container">
                    <li class="nav-phone logo">
                        <img id="logo" src="../../images/logo.jpg">
                    </li>
                    <li class="nav-phone title">
                        <div id="title">Galileo School</div>
                    </li>
                </div>
            </div>
            <!-- Items which should be on the right -->
            <div class="right">

                {{nav.lang_select}}
                
                <!-- Button for opening navigation bar dropdown -->
                <div id="nav-btn" class="nav-phone toggle square">
                    <img id="menu-img" src="../../images/icons/menu.png">
                </div>
            </div>
        </div>

        {{nav.menu}}
        
    </nav>
</header>