<!-- Each of these li (list item) elements represents a button in our menu -->
<li onclick="location.href='{fill_parents_html}sk/index.html'" class="nav-elem">
    <div>Hlavná Stránka</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div>Profil Školy</div>
</li>
<li onclick="location.href='https://galileoschool.edupage.org/znamky/'" class="nav-elem">
    <div>Žiacka Knižka</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div>Prijímacie Pohovory</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div>Kontakty</div>
</li>