:^) lang_select :::
<!-- Language selection dropdown -->
<div id="langBtn" onclick="location.href='{language_src}'" class="nav-phone lang darker-gray">
    <div class="lang-text">EN</div>
</div>
:^) menu :::
<!-- The actual navigation menu -->
<div id="nav-desk" class="nav-desk">
    <!-- We prefer ul (unordered list) for the menu structure and flexibility -->
    <ul id="main-nav" class="navbar">
        {{main_nav}}
    </ul>

    <ul id="sub-nav" class="navbar">
        {{sub_menu}}
    </ul>
</div>

<div id="nav-phone" class="phone-menu">
    <ul id="nav-phone-list" class="phone-nav">
        {{main_nav}}
        {{sub_menu}}
    </ul>
</div>