<!-- Header -->
<!-- The header usually contains the logo and a navigation bar -->
<header>
    <!-- Navigation bar -->
    <nav>
        <!-- Navigation for smaller devices -->
        <div id="nav-bar" class="nav-phone">
            <!-- Items which should be on the left -->
            <div class="left">
                <!-- Search button -->
                <div class="nav-phone search-drop dropdown square">
                    <div id="search" class="nav-phone search">
                        <img id="search-img" src="../../images/icons/search.png">
                    </div>
                    <div class="nav-phone search-dropdown-content">
                        <input class="nav-phone search-input" type="text" placeholder="Search.." name="search">
                    </div>
                </div>
                <!-- School logo -->
                <div id="logo-container" class="nav-phone school-logo-container">
                    <li class="nav-phone logo">
                        <img id="logo" src="../../images/logo.jpg">
                    </li>
                    <li class="nav-phone title">
                        <div id="title">Galileo School</div>
                    </li>
                </div>
            </div>
            <!-- Items which should be on the right -->
            <div class="right">
                <!-- Language selection dropdown -->
                <div id="menu-btn-img" class="nav-phone language-dropdown dropdown square">
                    <div id="langBtn" class="nav-phone lang darker-gray">
                        <div class="lang-text">SK</div>
                    </div>
                    <div id="lang-sk" class="nav-phone language-dropdown-content dropdown-content">
                        <div onclick="location.href='../en/index.html'" class="nav-phone light-gray lang lang-text">
                            <div style="width: auto;">EN</div>
                        </div>
                    </div>
                </div>
                <!-- Button for opening navigation bar dropdown -->
                <div id="nav-btn" class="nav-phone toggle square">
                    <img id="menu-img" src="../../images/icons/menu.png">
                </div>
            </div>
        </div>


        <!-- The actual navigation menu -->
        <div id="nav-desk" class="nav-desk">
            <!-- We prefer ul (unordered list) for the menu structure and flexibility -->
            <ul id="navigation" class="navbar">
                <!-- Each of these li (list item) elements represents a button in our menu -->
                <li onclick="location.href='#'" class="nav-elem">
                    <div>Hlavná Stránka</div>
                </li>
                <li onclick="location.href='#'" class="nav-elem">
                    <div>Profil Školy</div>
                </li>
                <li onclick="location.href='#'" class="nav-elem">
                    <div>Prijímacie Pohovory</div>
                </li>
                <li onclick="location.href='#'" class="nav-elem">
                    <div>Žiacka Knižka</div>
                </li>
                <li onclick="location.href='#'" class="nav-elem">
                    <div>Stránky Študentov</div>
                </li>
                <li onclick="location.href='#'" class="nav-elem">
                    <div>Kontakty</div>
                </li>
                <!--
                        Template:
                    <li onclick="location.href='#[ENTER LINK HERE]'" class="nav-elem">
                        <div>[ENTER ITEM HERE]</div>
                    </li>
                    -->
            </ul>
        </div>
    </nav>
</header>